header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background: var(--cinza-claro);
    box-shadow: var(--sombra);
    border-bottom: solid 1px var(--cor-borda);
    margin-bottom: 40px;
}

/* campo de busca */
.form-buscar {
    flex-direction: row;
    width: 500px;
    border: none;
    background: transparent;
    box-shadow: none;
}

.form-buscar input {
    width: 400px;
box-shadow: var(--sombra);
}

.btn-buscar, .btn-fechar{
    cursor: pointer;
    box-shadow: var(--sombra);

}

.btn-buscar {
    width: 118px !important;
    padding: 12px 0;
}

.btn-fechar {
    width: 110px !important;
    padding: 12px 0;
    background: var(--alerta) !important;
}

main.container {
    padding: 40px;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: start;
    gap: 20px;
}

.campo-form-produtos {
    height: 100vh;
 
}

form.form-produto{
    width: auto;
}

textarea{
    width: 100%;
    border-radius: 5px;
}


.campo-produtos-cadastrados {
    width: 100%;
   border: 1px solid var(--cor-borda);
    border-radius: 8px;
  box-shadow: var(--sombra);
    grid-column: 2 / -1; 
}

table.produto-tabela {
    width: 100%;
    border-collapse: collapse;
   
}


.produto-tabela th, .produto-tabela td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.produto-tabela th, .produto-tabela td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Linha separadora entre as linhas */
}

.produto-tabela thead th {
    font-weight: 600;
    color: #333;
}

td{
    cursor: pointer;
}

/* Efeito "Zebrado" - cor de fundo para linhas pares */
.produto-tabela tbody tr:nth-child(even) {
    background-color: var(--cinza-claro); 
}


.baixo-estoque td{
    background: var(--alerta-estoque);
}

.sem-estoque{
    background: var(--alerta-sem-estoque);
    font-weight: 600;
}

.overlay-modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #111111c0;
}

.overlay-apagar{
    display: none;
}

.overlay-editar{
    /* display: none; */
}

.modal{
    border: solid 1px var(--cor-borda);
    background: var(--cinza-claro);
    border-radius: 10px;
    box-shadow: 2px 3px 10px;
    gap: 30px;
    position: absolute;
    left: 50%;
    top: 20%;
}

.modal-apagar{
    width: 360px;
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    /* display: none; */
}

.modal-apagar p{
    text-align: center;
}

.modal-apagar p span{
    font-weight: 700;
    text-decoration: underline;
}

/* ícone de alerta */
.fa-triangle-exclamation{
    color: red;
    font-size: 2rem;
}

div.botoes-modal{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* botões de todos os modais */
.botoes-modal button{
    border: none;
    padding: 12px 0;
    border-radius: 5px;
    width: 150px;
    cursor: pointer;
    box-shadow: var(--sombra);
}

.btn-apaga-produto{
    background: var(--alerta)!important;
    color: #fff;
    font-weight: 600;
}

.btn-cancelar{
    background: var(--cor-btn-cancelar)!important;
    color: #111111!important;
}

.modal-editar{
    width: 350px;
    position: absolute;
    z-index: 3;
}