

form{
    width: 300px;
    display: flex;
    flex-direction: column;
    border: solid 1px var(--cor-borda);
    padding:20px 10px;
    border-radius: 10px;
    box-shadow: var(--sombra);
    gap: 10px;
    background: var(--cinza-claro);
}

label{
    margin-left: 12px;
}

input{
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
       border: solid 1px var(--cor-borda);
 
    
}



form p{
    font-size: 1.2rem;
}

form h2{
    text-align: center;
}