* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Roboto", sans-serif;
}

:root {
    --cor-principal: #d3d3d3;
    --cor-borda:#b8b8b8;
    --cinza-claro:#f8f8f8;
    --sombra: 1px 1px 4px #5a5a5a7a;
    --azul: #3a6fbe;
    --laranja: #e46f2c;
    --alerta: #f01d1dd3;
    --alerta-estoque:#f5d5d5;
        --alerta-sem-estoque:#fc6464;
        --cor-btn-cancelar:#2f5c8054;


}


body{
    width: 100vw;
    height: 100vh;
    position: relative;
}


.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.botao{     
    background: var(--azul);
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}
